{% extends 'base.html' %}

{% block title %}
    Administrator Panel
{% endblock %}

{% block content %}
    <div id="users-panel" class="container" style="max-width: 800px; width: 100%">
        <h2 >USER LIST:</h2>
        {% if user_lists %}
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Users</th>
                    <th scope="col">Task Count</th>
                </tr>
            </thead>
            <tbody>
            {% for user in user_lists %}
                <tr>
                    <th scope="row">{{ user.uid }}</th>
                    <td>{{ user.username }}</td>
                    <td>{{ user.todos|length }}</td>
                </tr>            
            {% endfor %}
            </tbody> 
        </table>
        {% else %}
        <p>No data</p>
        {% endif %}
        <h2 >TODO LIST:</h2>
        {% if todo_lists %}
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Todo</th>
                    <th scope="col">User</th>
                </tr>
            </thead>
            <tbody>
            {% for todo in todo_lists %}
                <tr>
                    <th scope="row">{{ todo.tid }}</th>
                    <td>{{ todo.text }}</td>
                    <td>{{ todo.user_id }}</td>
                </tr>            
            {% endfor %}
            </tbody> 
        </table>
        {% else %}
        <p>No data</p>
        {% endif %}
        <div class="input-group mb-3">
            <input type="file" class="form-control" id="fileInput" name="file" aria-describedby="fileInput" aria-label="Update" accept="application/json">
            <label class="btn btn-primary" for="fileInput" type="submit" id="btn-update">Update</label>
            <button class="btn btn-success" id="btn-backup">Backup</button>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const btnUpdate = document.getElementById('btn-update')
            const btnBackup = document.getElementById('btn-backup')

            btnUpdate.addEventListener('click', async(e) => {
                e.preventDefault();

                const fileInput = document.getElementById('fileInput');
                const file = fileInput.files[0];

                if (!file) {
                    alert('Choose file')
                    return;
                }

                const formData = new FormData();
                formData.append('file', file)

                try {
                    const response = await fetch('update', {
                        method: 'POST',
                        body: formData
                    })

                    if (!response.ok) {
                        throw new Error(`HTTP error! Status ${response.status}`)
                    }
                    
                    const data = await response.json();
                    console.log(data.message)
                    
                } catch (error) {
                    console.error(error)
                }
            })

            btnBackup.addEventListener('click', async(e) => {
                try {
                    const response = await fetch('backup');
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    const data = await response.blob();
                    const url = window.URL.createObjectURL(data);
                    const a = document.createElement('a');
                    a.href = url;
                    a.download = 'database_backup.json';
                    a.click();
 
                } catch (e) {
                    console.error(e)
                }
            })
        })
    </script>
{% endblock %}