{% if todo_lists %}
{% for todo in todo_lists %}
<!-- Todo items will be added here dynamically -->
<div id="task-{{ todo.tid }}" data-id="{{ todo.tid }}" class="todo-item p-3 d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
        <div class="form-check">
            <input class="form-check-input btn-complete" type="checkbox"
                {% if todo.completed %} checked="checked" {% endif %}>
        </div>
        <span class="ms-2 todo-text">{{ todo.text }}</span>
    </div>
    <div class="todo-actions">
        <button class="btn-edit" title="Edit" id="not-working">
            <i class="bi bi-pencil"></i>
        </button>
        <button 
            class="btn-delete" 
            title="Delete"
            data-tid = "{{ todo.tid }}">
            <i class="bi bi-trash"></i>
        </button>
    </div>
</div>
{% endfor %}
{% endif %}